$hex-dark-each-step: "/images/hex/hex-dark-each-step@2x.png";
$hex-dark-footer: "/images/hex/hex-dark-footer@2x.png";
$hex-dark-get-answers: "/images/hex/hex-dark-get-answers@2x.png";
$hex-dark-header: "/images/hex/hex-dark-header@2x.png";
$hex-dark-layer-diagram-1: "/images/hex/hex-dark-layer-diagram-1@2x.png";
$hex-dark-layer-diagram-2: "/images/hex/hex-dark-layer-diagram-2@2x.png";
$hex-dark-layer-diagram-3: "/images/hex/hex-dark-layer-diagram-3@2x.png";
$light-theme-footer-bg: "/images/hex/hex-light-footer@2x.png";
$light-theme-header: "/images/hex/hex-light-header@2x.png";
$power-lines: "/images/request-demo/power-lines@2x.png";
$signup-video-mask: "/images/signup-animation/warehouse-overlay-mask.png";
